body {
  margin: 0;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #D8DCE2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url(./fonts/nunito/Nunito-Regular.ttf) format('truetype');
}
